version: 1.0.{build}

image: Ubuntu2204

branches:
  only:
    - main

skip_tags: true

build_script:
  - curl -LsSf https://astral.sh/uv/install.sh | sh
  - uv run python -m packer.KpPacker

after_build:
  - export RELEASE_DATE=$(date +'%Y-%m-%d')
  - echo "Release date: $RELEASE_DATE"

artifacts:
  - path: gtfs/*
    name: "GTFS_$(date +'%Y-%m-%d')"

deploy:
  - provider: GitHub
    description: "GTFS data generated on $(date +'%Y-%m-%d')"
    auth_token:
      secure: nXI6lI5iGLY5FI2p+OdZzq2f+XoX2yRb3poMaq51Gll/3QmoaskvIvAg2V/Iqvt2/REc7v4z6YFGX270+dK03XEVrOKCOmsZK6cQyPDtqhpLpVWPV+t0vkSuEkREZYjP
    tag: "$(date +'%Y-%m-%d')"
    release: "$(date +'%Y-%m-%d')"
    artifact: "GTFS_$(date +'%Y-%m-%d')"
    draft: false
    prerelease: false
    on:
      branch: main